/* Estilos específicos para la página de login */
.input-group-append i {
    color: #ff0000;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-label {
    cursor: pointer;
}

.modal-header {
    background-color: var(--primary-color);
    color: white;
}

.modal-header .btn-close {
    color: white;
}

.modal-footer .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.modal-footer .btn-primary:hover, .modal-footer .btn-primary:focus {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}
.custom-header {
            background-color: #0A0A3D;
        }
        .custom-text {
            color: #0A0A3D;
        }
        .error-message {
            color: red;
            font-size: 0.9em;
            display: none;
        }
        .input-error {
            border-color: #ff0000;
        }
        .input-group-append i {
            color: #ff0000;
        }
        .hidden {
            display: none;
        }
        @media (max-width: 576px) {
            .custom-header h1 {
                font-size: 1.2rem;
            }
            .custom-header img {
                width: 60px;
                height: 70px;
            }
        }